code {
  background: #333333 !important;
  color: #ffffff !important;
}
.ncar code {
  border: none !important;
}
table td,
table th,
.table td,
.table th {
  border: none !important;
}
.ncar thead th {
  background-color: transparent !important;
}
.col-header td,
.col-header th {
  border-bottom: 1px solid #3b4151 !important;
}