<div class="component featured-work container-lg">
    <div class="row gx-0 pt-md-4 justify-content-center">
        <div class="col-8 primary text-center">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title mb-md-2">{{ page.search_box_title }}</h3>
                    <form id="search-form" class="d-flex" name="search_form" action="/gsearch/dataset-search/">
                        <input class="form-control" type="search" id="search-input" autocomplete="off" data-provide="typeahead" name="q" placeholder="{{ page.search_box_placeholder }}" value="">
                        <button class="btn btn-primary" type="submit" aria-label="Search"><i class="fas fa-search"></i></button>
                    </form>
                    <div id="search-suggestions" class="mt-2">
                        <a href="/gsearch/dataset-search/?q=&filter-match-all.tags=AI%20Ready">
                            <span class="badge home-search-badge rounded">AI Ready Datasets</span>
                        </a>
                        <a href="/gsearch/dataset-search/?q=&filter-match-all.format=Zarr">
                            <span class="badge home-search-badge rounded">Zarr Format Datasets</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>