{% load wagtailcore_tags %}

<div class="component featured-work container-lg pt-md-4">
    <div class="row gx-0 justify-content-center">
        <div class="col-10 primary">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2 g-md-4">
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h3 class="card-title text-center"><a href="/gsearch/dataset-search/" class="text-white">{{ page.card_1_title }}</a></h3>
                            <div class="icon py-2 text-center">
                                <i class="fas fa-{{ page.card_1_icon_name }} fa-2x"></i>
                            </div>
                            <p class="card-text text-center">{{ page.card_1_text|richtext }}</p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="/gsearch/dataset-search/" class="btn btn-outline-light">{{ page.card_1_footer_text }}</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h3 class="card-title text-center"><a href="{{ page.card_2_footer_page.url }}" class="text-white">{{ page.card_2_title }}</a></h3>
                            <div class="icon py-2 text-center">
                                <i class="fas fa-{{ page.card_2_icon_name }} fa-2x"></i>
                            </div>
                            <p class="card-text text-center">{{ page.card_2_text|richtext }}</p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{{ page.card_2_footer_page.url }}" class="btn btn-outline-light">{{ page.card_2_footer_text }}</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h3 class="card-title text-center"><a href="{{ page.card_3_footer_page.url }}" class="text-white">{{ page.card_3_title }}</a></h3>
                            <div class="icon py-2 text-center">
                                <i class="fas fa-{{ page.card_3_icon_name }} fa-2x"></i>
                            </div>
                            <p class="card-text text-center">{{ page.card_3_text|richtext }}</p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{{ page.card_3_footer_page.url }}" class="btn btn-outline-light">{{ page.card_3_footer_text }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
