
{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}{% endblock %}

{% block content %}

<figure class="figure full-width">
    <picture>
        <img src="/media/images/GDEX_banner_image.original.jpg" alt="banner" class="figure-img img-fluid">
    </picture>
</figure>

<div class='col-12 mt-2'>
    <div class='row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2 g-md-4'>
        <div class='col text-center'>
            <div class='card h-100 pt-3 pb-3'>
                <i class="fa-solid fa-file fs-1"></i>
                <div id="btn-datasets" class="fs-1 fw-bold pt-3">&hellip;</div>
                <div class="fs-5 text-secondary pt-2">Total Number of GDEX Datasets</div>
            </div>
        </div>
        <div class='col text-center'>
            <div class='card h-100 pt-3 pb-3'>
                <i class="fa-solid fa-book-open fs-1"></i>
                <div id="btn-citations" class="fs-1 fw-bold pt-3">&hellip;</div>
                <div class="fs-5 text-secondary pt-2">Total Number of Citations</div>
            </div>
        </div>
        <div class='col text-center'>
            <div class='card h-100 pt-3 pb-3'>
                <i class="fa-solid fa-users fs-1"></i>
                <div id="btn-users" class="fs-1 fw-bold pt-3">&hellip;</div>
                <div class="fs-5 text-secondary pt-2">Total Number of Unique IPs</div>
                <div class='small text-secondary'>that Accessed Data in the Past Year</div>
            </div>
        </div>
        <div class='col text-center'>
            <div class='card h-100 pt-3 pb-3'>
                <i class="fa-solid fa-download fs-1"></i>
                <div id="btn-downloaded" class="fs-1 fw-bold pt-3">&hellip;</div>
                <div class="fs-5 text-secondary pt-2">Total Volume Downloaded</div>
                <div class='small text-secondary'>in the Past Year</div>
            </div>
        </div>
        <div class='col text-center'>
            <div class='card h-100 pt-3 pb-3'>
                <i class="fa-solid fa-server fs-1"></i>
                <div id="btn-volume" class="fs-1 fw-bold pt-3">&hellip;</div>
                <div class="fs-5 text-secondary pt-2">Size of the GDEX</div>
            </div>
        </div>
        <div class='col text-center'>
            <div class='card h-100 pt-3 pb-3'>
                <i class="fa-solid fa-envelope fs-1"></i>
                <div id="btn-requests" class="fs-1 fw-bold pt-3">&hellip;</div>
                <div class="fs-5 text-secondary pt-2">Customized Subset Requests</div>
                <div class='small text-secondary'>in the Past Year</div>
            </div>
        </div>
    </div>
</div>

<hr>
<div id="list" class="component list mt-3">
    <h2 class='text-center'><i class="fa-solid fa-robot pe-1"></i>AI-Ready Datasets</h2>
    <div id="ai-datasets-list" style='height:34em; overflow:auto'></div>
</div>
<hr>
<div id="list" class="component list mt-3">
    <h2 class='text-center'><i class="fa-solid fa-thumbs-up pe-1"></i>Popular Datasets</h2>
    <div id="top-datasets-list" style='height:34em; overflow:auto'></div>
</div>

<script>
function fmt(n) { return Number(n).toLocaleString(); }

$.getJSON('{% url "total_datasets" %}', function(data) {
    $('#btn-datasets').text(fmt(data.value));
}).fail(function() { $('#btn-datasets').text('Error'); });

$.getJSON('{% url "total_citations" %}', function(data) {
    $('#btn-citations').text(fmt(data.value));
}).fail(function() { $('#btn-citations').text('Error'); });

$.getJSON('{% url "unique_users" %}', function(data) {
    $('#btn-users').text(fmt(data.ips));
}).fail(function() { $('#btn-users').text('Error'); });

$.getJSON('{% url "volume_downloaded" %}', function(data) {
    $('#btn-downloaded').text(fmt(data.volume) + ' PB');
}).fail(function() { $('#btn-downloaded').text('Error'); });

$.getJSON('{% url "gdex_volume" %}', function(data) {
    $('#btn-volume').text(fmt(data.value) + ' PB');
}).fail(function() { $('#btn-volume').text('Error'); });

$.getJSON('{% url "total_requests" %}', function(data) {
    $('#btn-requests').text(fmt(data.value));
}).fail(function() { $('#btn-requests').text('Error'); });

$.getJSON('{% url "ai_datasets" %}', function(data) {
    $.each(data.ai_datasets, function(_, row) {
        $('#ai-datasets-list').append(
            $('<div>').addClass('list-item p-3').append(
                $('<a>').attr('href', '/datasets/' + row[0]).append(
                    $('<div>').text(row[1])
                )
            )
        );
    });
}).fail(function() { $('#ai-datasets-list').text('Error loading datasets'); });

$.getJSON('{% url "top_datasets" %}', function(data) {
    $.each(data.top_datasets, function(i, ds) {
        $('#top-datasets-list').append(
            $('<div>').addClass('list-item p-3').append(
                $('<a>').attr('href', '/datasets/' + ds.dataset).append(
                    $('<div>').text('#' + (i + 1) + '.  ' + ds.OName)
                )
            )
        );
    });
}).fail(function() { $('#top-datasets-list').text('Error loading datasets'); });
</script>

{% endblock %}
