
{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}{% endblock %}

{% block content %}
{% load humanize %}
<div class='col-12'>
        <div class='row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2 g-md-4'>
                <div class='col text-center'>
                        <div class='card h-100 pt-3 pb-3 '>
                                <i class="fa-solid fa-file fs-1 "></i>
                                <div class="fs-1 fw-bold pt-3">
                            {{ datasets|intcomma }}
                                </div>
                                <div class="fs-5 text-secondary pt-2">
                                        Total Number of GDEX Datasets
                                </div>
                        </div>
                </div>
                <div class='col text-center'>
                        <div class='card h-100 pt-3 pb-3'>
                                <i class="fa-solid fa-book-open fs-1 "></i>
                                <div class="fs-1 fw-bold pt-3">
                               {{ citations|intcomma }}
                                </div>
                                <div class="fs-5 text-secondary pt-2">
                                        Total Number of Citations
                                </div>
                        </div>
                </div>
                <div class='col text-center'>
                        <div class='card h-100 pt-3 pb-3'>
                                <i class="fa-solid fa-users fs-1 "></i>
                                <div class="fs-1 fw-bold pt-3">
                           {{ users|intcomma }}
                                </div>
                                <div class="fs-5 text-secondary pt-2">
                                        Total Number of Unique IPs
                                        <div class='small text-secondary'>
                                        in the Past Year
                                        </div>
                                </div>
                        </div>
                </div>
                <div class='col text-center'>
                        <div class='card h-100 pt-3 pb-3'>
                                <i class="fa-solid fa-download fs-1 "></i>
                                <div class="fs-1 fw-bold pt-3">
                             {{ dowloaded|intcomma }}  PB
                                </div>
                                <div class="fs-5 text-secondary pt-2">
                                        Total Volume Downloaded
                                </div>
                                        <div class='small text-secondary'>
                                        in the Past Year
                                        </div>
                        </div>
                </div>
                <div class='col text-center'>
                        <div class='card h-100 pt-3 pb-3'>
                                <i class="fa-solid fa-server fs-1 "></i>
                                <div class="fs-1 fw-bold pt-3">
                              {{ volume|intcomma }} PB
                                </div>
                                <div class="fs-5 text-secondary pt-2">
                                        Size of the GDEX
                                </div>
                        </div>
                </div>

        </div>
</div>









{% endblock %}
