{% load static wagtailcore_tags %}

<!-- FEATURE CARDS -->
<section class="gdex-features-section">
    <div class="container-lg">
        <h2 class="gdex-section-title">What You Can Do With GDEX</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for card in page.featured_cards.all %}
            <div class="col">
                <div class="gdex-feature-card">
                    <div class="gdex-feature-card__icon">
                        {% if card.icon_name %}
                            <i class="fa-solid fa-{{ card.icon_name }}"></i>
                        {% elif card.icomoon_icon_name %}
                            <i class="{{ card.icomoon_icon_name }}"></i>
                        {% endif %}
                    </div>
                    <h4 class="gdex-feature-card__title">{{ card.title }}</h4>
                    <div class="gdex-feature-card__desc">{{ card.text|richtext }}</div>
                   
                    {% if card.card_page %}
                    <a href="{{ card.card_page.url }}" class="gdex-feature-card__link stretched-link">
                    {% elif card.card_url|slice:":1" == "/" %}
                    <a href="{{ card.card_url }}" class="gdex-feature-card__link stretched-link">
                    {% else %}
                    <a href="{{ card.card_url }}" class="gdex-feature-card__link stretched-link" target="_blank" rel="noopener noreferrer">
                    {% endif %}
                        {{ card.card_link_text }} &rarr;
                    </a>
                
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
