/* Custom styles for dataset file list templates */

input.parent_group[type="checkbox"] {
    outline: 1px solid #0057c2;
}
input.table_group[type="checkbox"] {
    outline: 1px solid #f1f0ee;
}
input.file[type="checkbox"] {
    outline: 1px solid #0057c2;
}