<div class="col col-md-8 py-md-1">
<div class="d-flex">
    <div class="pe-1 my-1 my-md-0 nsf-logo align-self-center">
        <a href="https://nsf.gov" title="U.S. NSF Home">
            {% include "unity/picture_wagtail_media.html" with image="NSF_Official_logo" alt="NSF Logo" %}
            <span class="sr-only">NCAR</span>
        </a>
    </div>
    <div class="ps-2 my-1 py-md-0 align-self-center ncar-logo">
        <div class="mb-0 small-ncar-logo">
            <a href="/">
                {% include "unity/picture_wagtail_media.html" with image="logo-ncar" alt="NSF NCAR" %}
            </a>
        </div>
    </div>
    <div class="ms-auto px-0 py-md-0 d-md-none justify-content-end mobile-toggler">
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Mobile Menu" class="navbar-toggler collapsed btn border-start" data-bs-target="#navbarSupportedContent1,#navbarSupportedContent2" data-bs-toggle="collapse" id="menuIcon" type="button"></button>
    </div>
</div>
</div>