<div class="col col-md-8 py-md-1">
<div class="d-flex">
    <div class="my-1 py-md-0 align-self-center logo-ncar">
        <div class="mb-0">
            <a href="/">
                {% include "unity/picture_wagtail_media.html" with image="logo-ncar-2026" alt="NSF NCAR" %}
            </a>
        </div>
    </div>
    <div class="site-name mx-1 mx-md-2">
        <a href="/">
            Geoscience Data<br>Exchange (GDEX)
        </a>
    </div>
    <div class="ms-auto px-0 py-md-0 d-md-none justify-content-end mobile-toggler">
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Mobile Menu" class="navbar-toggler collapsed btn border-start" data-bs-target="#navbarSupportedContent1,#navbarSupportedContent2" data-bs-toggle="collapse" id="menuIcon" type="button"></button>
    </div>
</div>
</div>