{% load decs_tags menu_tags %}

<header>
    {% if request.get_host|slice:"0:4" != "gdex" and request.get_host|slice:"0:8" != "api.gdex" %}
        <div class="alert alert-danger text-center mb-0" role="alert">
            TEST INSTANCE - {{ request.get_host }}
        </div>
    {% endif %}
    <nav class="navbar navbar-expand-md navbar-light align-items-start py-0">
        <div class="container-fluid px-0">
            <div class="row gx-0 flex-grow-1">
                {% block header_top %}
                {% include "unity/header_top.html" %}
                {% endblock header_top %}

                {% block header_navigation_bar %}
                {% include "unity/header_nav_bar.html" %}
                {% endblock header_navigation_bar %}

                {% block header_mobile_login %}
                {% include "unity/header_mobile_login.html" %}
                {% endblock header_mobile_login %}
            </div>
        </div>
    </nav>
</header>
