{% load static %}
<link rel="icon" type="image/png" href="{% static 'img/app-favicons/gdex/favicon-96x96.png' %}" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{% static 'img/app-favicons/gdex/favicon.svg' %}" />
<link rel="shortcut icon" href="{% static 'img/app-favicons/gdex/favicon.ico' %}" />
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/app-favicons/gdex/apple-touch-icon.png' %}" />
<meta name="apple-mobile-web-app-title" content="GDEX" />
<link rel="manifest" href="{% static 'img/app-favicons/gdex/site.webmanifest' %}" />