{% extends "daas/daas_page.html" %}

{% load wagtailcore_tags static %}

{% block daas_content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/generic_page.css' %}">
<div class='bg-white p-3'>

<div class="d-grid d-print-flex">
    <article class="main-content-wrapper">
            <h1>{{ page.title }}</h1>
      
        <div class="main-content clearfix"> 
            <div class="component contact bg-white p-3">
                {{ page.body|richtext }}
	    </div>
        </div>
</article>

</div>
</div>
          

{% endblock %}
