{% extends "base.html" %}

{% load static wagtailcore_tags login_tags %}

{% block content %}
<div id="content_container">

    <script src="/js/xhr_content2.js"></script>
    {% if request.GET.resetpass %}
    <script id="passcheck" language="javascript">
      function checkSetPassForm() {
        if (document.newpass.passwd.value.length == 0) {
          alert("Enter a password to continue");
          return;
        }
        if (document.newpass.passwd.value != document.newpass.cpasswd.value) {
          alert("Password confirmation failed - passwords don't match");
          return;
        }
        getAjaxContent('POST', 'action=setNewPassword&resetpass={{ request.GET.resetpass }}&passwd=' + document.newpass.passwd.value, '/cgi-bin/login', 'content_container');
      }
    </script>
    <h2>Set a New Password</h2>
    <p>You are setting a new password for <b>{{ email }}</b>.</p>
    <form name="newpass" class="row gx-0 gy-3" action="javascript:void(0)">
        <div class="col-10 offset-05">
            <label for="passwd" class="form-label">New password:</label>
            <input name="passwd" type="password" class="form-control" required>
        </div>
        <div class="col-10 offset-05">
            <label for="cpasswd" class="form-label">Confirm new password:</label>
            <input name="cpasswd" type="password" class="form-control" required>
        </div>
        <div class="col-10 offset-05">
            <button id="registerButton" class="btn btn-primary" onclick="checkSetPassForm()">Reset Your Password</button>
        </div>
    </form>
    {% else %}
    <script id="passcheck" language="javascript">
        function checkSetPassForm() {
          if (document.forgot.email.value.indexOf("@") <= 0 || document.forgot.email.value.indexOf(".") <= 0) {
            alert("Enter a complete email address");
            return;
          }
          getAjaxContent('POST', 'action=setPassword&email=' + encodeURIComponent(document.forgot.email.value), '/cgi-bin/login', 'content_container');
        }
    </script>

    <h2>Set a New Password</h2>
    <p>
        Since we only store an encrypted version of your password and not the password itself, you will need to request a password reset link which will be sent to you via email. Once you receive the reset link, you will be able to use it to set your password to a new value.
    </p>
    <p>
        We send the link immediately, so if you do not receive it, please check your spam and junk folders before contacting us.
    </p>
    
    <form name="forgot" class="row gx-0 gy-3" action="javascript:void(0)" onsubmit="checkSetPassForm()">
        <div class="col-10">
            <label for="email" class="form-label">Enter your email address:</label>
            <div class="input-group">
                <span class="input-group-text" id="email_prepend">@</span>
                <input id="email" name="email" type="text" class="form-control" aria-describedby="email_prepend" required>
            </div>
        </div>
        <div class="col-10">
            <button class="btn btn-primary" type="submit">Reset Password</button>
        </div>
    </form>
    {% endif %}

</div>
{% endblock %}
