<script src="/js/xhr_content2.js"></script>
<script id="privacyresponse" language="javascript">
function submitPrivacyResponse(r) {
  var parameters = 'action=updateprivacyagreement&comment=' + r + '&email={{ duser }}&url={{ return_url }}&remember={{ remember }}';
  getContentFromPost('content_container', '/cgi-bin/login', parameters);
}
</script>
<div id="content_container">

    <div class="mb-5">
        <h2>Data User Registration Notice and Consent</h2>
        <p>
            In order to continue to access the data, please review the following notice:
        </p>
        <p>
            The personal data that you provided to NCAR's Research Data Archive when you registered as a user in our system is used only to identify you as a user of our services, so that you can navigate the RDA website with more ease and so that we can email you about data updates and any problems discovered. We do not use your personal data outside of the RDA, and share only non-personal aggregated data for reporting purposes to third parties.
        </p>
        <p>
            This site uses cookies that are associated with your personal data to help with sign-in, site navigation and help maintain metrics. If you do choose to delete your personal information from our system, you will be required to re-enter it to download data. For more information about Privacy at UCAR, see UCAR's <a href="https://www.ucar.edu/privacy-notice" target="_ucar_privacy">Privacy</a> and <a href="https://www.ucar.edu/cookie-other-tracking-technologies-notice" target="_ucar_cookies">Cookies</a> Notices.
        </p>
        <form action="javascript:void(0)">
            <center>
                <input type="button" value="I Agree" onclick="submitPrivacyResponse('Y')">&nbsp;<input type="button" value="Delete Me" onclick="submitPrivacyResponse('N')">
            </center>
        </form>
    </div>

</div>
