{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

<h2>{% trans "Sign Up" %}</h2>

<p>
  Anyone can sign up for a free GDEX account. <em>An account is not required to
  download data files</em>, but it lets you use GDEX custom services such as
  dataset subsetting and file format conversion.
</p>
<p>
  Accounts are created using an ORCID iD. If you have not yet registered with
  ORCID, select the 'Sign up with ORCID' button below and follow the steps to
  register for an ORCID iD.
</p>

<div class="socialaccount_ballot">
  <div class="socialaccount_providers">
    {% include "account/socialaccount/snippets/provider_list.html" with process="login" only_provider="orcid" action_label="Sign up with" %}
  </div>
</div>

<p>Already have an account? Please <a href="{% url 'account_login' %}">sign in</a>.</p>

{% include "socialaccount/snippets/login_extra.html" %}

{% endblock %}
