{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block body_class %}{% endblock %}
{% block content %}
<div class="d-grid d-print-flex">
    <article class="main-content-wrapper">
        {% if page.title %}<h2 class="visually-hidden">{{ page.title }}</h2>{% endif %}
        <div class="main-content clearfix">
            <figure class="figure full-width m-0">
                <picture>
                    <img src="/media/images/contribute_data.original.jpg" alt="banner" class="figure-img img-fluid mb-0">
                </picture>
            </figure>
            {% if page.body %}
            <div>{{ page.body|richtext }}</div>
            {% endif %}

            {% block grid_cards %}
            {% include 'daas/submit_suggest_cards.html' %}
            {% endblock %}

                <hr>
                <p class="text-center body-font-large">
                    For more information, please refer to the
                    <a href="{% slugurl 'gdex-dataset-submission-appraisal-and-selection-process' %}">
                        <strong>Detailed Workflow Process</strong>
                    </a>
                    and the
                    <a href="{% slugurl 'gdex-terms-conditions' %}">
                        <strong>Terms & Conditions</strong>
                    </a>.
                    <br>Questions? Contact datahelp@ucar.edu
                </p>
            </div>
    </article>
</div>
{% endblock %}
