{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}{% endblock %}

{% block content %}


<!-- <div class="bg-white p-3"> -->
    <div class="d-grid d-print-flex">
        <article class="main-content-wrapper">
            <h2>{{ page.title }}</h2>
            <div class="main-content clearfix"> 
                <div>
                    {{ page.body|richtext }}
	        </div>

                <div>
	            <h3>THIS IS THE DATASUBMISSION PAGE</h3> 
                    <div class="col-12 mt2 mt-md4">
                        <a class="btn btn-primary" href='https://submit-data.ucar.edu/'/>Submit Data</a>
                    </div>
                </div>

                <div>
                 <hr>
                    <h3>Need Help?</h3>
                </div>
            </div>
        </article>

<!--
        <aside class="sidebar-nav mb-md-4 d-print-none" id="sidebar">
            <div class="d-flex justify-content-between" id="sidebarHeader">
                <h2 class="px-2 px-md-3 py-md-2">
                    <div class="i-angle-left--before text-light">Quick Help</a>
                </h2>
                <button class="btn text-light px-2 d-md-none disabled" href="#sidebarMenu" id="sidebarCollapseButton" aria-label="Content Types" role="button" aria-expanded="false" aria-controls="sidebarMenu">
                </button>
            </div>
            <div id="sidebarMenu" class="py-2" aria-labelledby="sidebar" data-parent="#sidebar">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link" href="https://rda.ucar.edu/#!daas/worksheet-instructions">How to fill out the Dataset Submission Form</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://rda.ucar.edu/#!daas/faqs">Frequently Asked Questions</a></li>
                </ul>
            </div>
        </aside>
-->

    </div>
</div>

{% endblock %}
