{% extends "daas/daas_page.html" %}


{% block daas_content %}

<br>

	<div class="d-grid d-print-flex">
	<article class = "main-content-wrapper">
	<h1>Submission Description for '{{ data.2 }}'</h1>

	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Dataset ID
                </h2>
		</div>
		<p>
{{ data.0 }}
		</p>
		</div>

	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Data Depositor Email
                </h2>
		</div>
		<p>
{{ data.1 }}
		</p>
		</div>

	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Dataset Full Title
                </h2>
		</div>
		<p>
{{ data.2 }}
		</p>
		</div>

	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Dataset Short Name
                </h2>
		</div>
		<p>
{{ data.3 }}
		</p>
		</div>

	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Dataset Abstract
                </h2>
		</div>
		<p>
{{ data.4 }}
		</p>
		</div>

	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Dataset Description
                </h2>
		</div>
		<p>
{{ data.5 }}
		</p>
		</div>

	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Dataset Funder/Sponser
                </h2>
		</div>
		<p>
{{ data.6 }}
		</p>
		</div>

	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Dataset Creator - Principle Investigator(s)
                </h2>
		</div>
		<p>
{{ data.7 }}
		</p>
		</div>

	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Dataset Creator - Affiliated Institutions(s)
                </h2>
		</div>
		<p>
{{ data.8 }}
		</p>
		</div>

	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Dataset Community
                </h2>
		</div>
		<p>
{{ data.9 }}
		</p>
		</div>
	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Dataset Spatial Coverage - Horizontal Coordinates
                </h2>
		</div>
		<p>
{{ data.10 }}
		</p>
		</div>

		</div>

	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Dataset Spatial Coverage - Vertical Coordinates
                </h2>
		</div>
		<p>
{{ data.11 }}
		</p>
		</div>

		</div>

       
	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Dataset Temporal Coverage
                </h2>
		</div>
		<p>
{{ data.12 }}
		</p>
		</div>

		</div>
   
	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Dataset Significant/Major Parameter(s)
                </h2>
		</div>
		<p>
{{ data.13 }}
		</p>
		</div>

		</div>
   
	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Dataset File Format
                </h2>
		</div>
		<p>
{{ data.14 }}
		</p>
		</div>

		</div>
   
	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Approximate Dataset Size in Megabytes
                </h2>
		</div>
		<p>
{{ data.15 }}
		</p>
		</div>

		</div>
   
	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Approximate Number of Data Files
                </h2>
		</div>
		<p>
{{ data.16 }}
		</p>
		</div>

		</div>
   
	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Dataset Use Restriction
                </h2>
		</div>
		<p>
{{ data.17 }}
		</p>
		</div>

		</div>
   
	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Dataset Use Restriction Explanation
                </h2>
		</div>
		<p>
{{ data.18 }}
		</p>
		</div>

		</div>
   
	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Dataset Contact - Name
                </h2>
		</div>
		<p>
{{ data.19 }}
		</p>
		</div>

		</div>
   
	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Dataset Contact - Email
                </h2>
		</div>
		<p>
{{ data.20 }}
		</p>
		</div>

		</div>
   
	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Dataset Contact - Phone
                </h2>
		</div>
		<p>
{{ data.21 }}
		</p>
		</div>

		</div>
   
	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Dataset Scientific Contact - Name
                </h2>
		</div>
		<p>
{{ data.22 }}
		</p>
		</div>

		</div>
   
	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Dataset Scientific Contact - Email
                </h2>
		</div>
		<p>
{{ data.23 }}
		</p>
		</div>

		</div>
   
	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Dataset Scientific Contact - Phone
                </h2>
		</div>
		<p>
{{ data.24 }}
		</p>
		</div>

		</div>
   
	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Reference(s)
                </h2>
		</div>
		<p>
{{ data.25 }}
		</p>
		</div>

		</div>
   
	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
How long do you expect this dataset to have impactful research value?
                </h2>
		</div>
		<p>
{{ data.26 }}
		</p>
		</div>

		</div>
   
	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Additional Comments
                </h2>
		</div>
		<p>
{{ data.27 }}
		</p>
		</div>

		</div>
   
	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Dataset Status
                </h2>
		</div>
		<p>
{{ data.28 }}
		</p>
		</div>

		</div>
   
	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Date Submitted
                </h2>
		</div>
		<p>
{{ data.29 }}
		</p>
		</div>

		</div>
   
	<div class="main-content clearfix">
		<div class='resources-main p-3'>
		<div class="mb-3">
		<h2 class='mb-0'>
Date Resolved
                </h2>
		</div>
		<p>
{{ data.30 }}
		</p>
		</div>

		</div>
   

          

{% endblock %}

