{% extends "base.html" %}

{% block content %}
<h1>{{ title }} for Data Depositors</h1>
<div class="text-center mt-2">
    {% if error and error == "invalid_token" %}
    <div class="text-danger mb-1">
        An invalid token was entered. Please try again.
    </div>
    {% endif %}
    Enter the 10-character token that was provided to you:
    <br>
    <form name="token_form" onsubmit="return false">
        <input name="token" type="text" class="font-monospace" size="10" maxlength="10"><button class="btn btn-primary px-1 py-0 ms-1" onclick="location='/metaman-lite/token/'+token_form.token.value+'/'">Go</button>
    </form>
</div>
{% endblock %}
