{
  "openapi": "3.1.2",
  "info": {
    "title": "GDEX Data File API",
    "description": "This API allows users to discover files in a specified dataset based on specified filters.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.gdex.ucar.edu/dsfiles",
      "description": "(JSON responses)"
    }
  ],
  "paths": {
    "/{DSID}/filters": {
      "get": {
        "summary": "Get dataset-specific filters.",
        "description": "This operation returns the filters that are available for the specified dataset using its GDEX DSID.",
        "operationId": "getDatasetFilters",
        "parameters": [
          {
            "$ref": "#/components/parameters/dsid"
          },
          {
            "$ref": "#/components/parameters/valid_datetime_min"
          },
          {
            "$ref": "#/components/parameters/valid_datetime_max"
          },
          {
            "name": "parameters",
            "in": "query",
            "description": "Restrict to specified parameter code(s)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/components/parameters/products"
          },
          {
            "$ref": "#/components/parameters/grids"
          },
          {
            "$ref": "#/components/parameters/levels"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schema_defs/DatasetFiltersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/{DSID}/files/{DATATYPE}": {
      "get": {
        "summary": "Get a list of data files.",
        "description": "This operation returns a list of data files for the specified dataset, optionally restricted by user-specified filters.",
        "operationId": "getDatasetFiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/dsid"
          },
          {
            "name": "DATATYPE",
            "in": "path",
            "description": "Find files for specified data type",
            "schema": {
              "type": "string",
              "enum": [
                "gridded",
                "observation"
              ]
            },
            "required": true
          },
          {
            "name": "parameters",
            "in": "query",
            "description": "Restrict to specified parameter code(s)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "default": ""
              }
            },
            "collectionFormat": "multi",
            "required": true
          },
          {
            "$ref": "#/components/parameters/valid_datetime_min"
          },
          {
            "$ref": "#/components/parameters/valid_datetime_max"
          },
          {
            "$ref": "#/components/parameters/products"
          },
          {
            "$ref": "#/components/parameters/grids"
          },
          {
            "$ref": "#/components/parameters/levels"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schema_defs/DatasetFilesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "dsid": {
        "name": "DSID",
        "in": "path",
        "description": "Retrieve response for dataset identified by DSID",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "valid_datetime_min": {
        "name": "valid_datetime_min",
        "in": "query",
        "description": "Restrict to data valid on or after date/time specified as \"YYYY-MM-DD HH:MM\"",
        "type": "string",
        "required": false
      },
      "valid_datetime_max": {
        "name": "valid_datetime_max",
        "in": "query",
        "description": "Restrict to data valid on or prior to date/time specified as \"YYYY-MM-DD HH:MM\"",
        "type": "string",
        "required": false
      },
      "products": {
        "name": "products",
        "in": "query",
        "description": "Restrict to specified product code(s)",
        "schema": {
          "type": "array",
          "items": {
            "type": "string",
          "default": ""
          }
        },
        "collectionFormat": "multi",
        "required": false
      },
      "grids": {
        "name": "grids",
        "in": "query",
        "description": "Restrict to specified grid code(s)",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "collectionFormat": "multi",
        "required": false
      },
      "levels": {
        "name": "levels",
        "in": "query",
        "description": "Restrict to specified vertical level code(s)",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "collectionFormat": "multi",
        "required": false
      }
    },
    "schema_defs": {
      "DatasetFiltersResponse": {
        "type": "object",
        "properties": {
          "DSID": {
            "type": "string"
          },
          "restrictions": {
            "type": "object",
            "description": "List of user-specified restrictions for limiting available filters",
            "properties": {
              "parameters": {
                "type": "array",
                "description": "List of parameters to which filters should be limited",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "filters": {
            "type": "object",
            "description": "List of data file filters available for this dataset",
            "properties": {
              "valid_datetime_min": {
                "type": "string",
                "description": "Earliest valid date/time as YYYY-MM-DD HH:MM"
              },
              "valid_datetime_max": {
                "type": "string",
                "description": "Latest valid date/time as YYYY-MM-DD HH:MM"
              },
              "parameters": {
                "type": "array",
                "description": "Parameter names and filter codes",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                }
              },
              "gridded": {
                "type": "object",
                "properties": {
                  "products": {
                    "type": "array",
                    "description": "Product names and filter codes",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "grids": {
                    "type": "array",
                    "description": "Grid names and filter codes",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "levels": {
                    "type": "array",
                    "description": "Vertical level names and filter codes",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "DatasetFilesResponse": {
        "type": "object",
        "properties": {
          "DSID": {
            "type": "string"
          },
          "restrictions": {
            "type": "object",
            "description": "List of user-specified restrictions for limiting available filters",
            "properties": {
              "parameters": {
                "type": "array",
                "description": "List of parameters to which filters should be limited",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "files": {
            "type": "object",
            "description": "Data file information",
            "properties": {
              "https_base": {
                "type": "string"
              },
              "ncar_hpc_base": {
                "type": "string"
              },
              "paths": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "pagination": {
            "type": "object",
            "description": "Metadata for result pagination",
            "properties": {
              "total_count": {
                "type": "integer"
              },
              "num_pages": {
                "type": "integer"
              },
              "num_per_page": {
                "type": "integer"
              },
              "current_page": {
                "type": "integer"
              },
              "next_page": {
                "type": "integer"
              },
              "result_ID" : {
                "type": "string"
              }
            }
          }
        }
      },
      "BadRequest": {
        "type": "object",
        "properties": {
          "error_message": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "400": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schema_defs/BadRequest"
            }
          }
        }
      }
    }
  }
}
