{
  "openapi": "3.1.2",
  "info": {
    "title": "GDEX Data File API",
    "description": "This API allows users to discover files in a specified dataset based on specified filters.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.gdex.ucar.edu/dsfiles",
      "description": "(JSON responses)"
    }
  ],
  "tags": [
    {
      "name": "Data Types",
      "description": "Categorical data types in the GDEX archive, to be used in the paths for filter and file queries"
    },
    {
      "name": "Filters",
      "description": "Filters by categorical data type that can be used to limit a query for data files"
    },
    {
      "name": "Data Files",
      "description": "Filtered lists of data files by categorical data type"
    }
  ],
  "paths": {
    "/{DSID}/datatypes": {
      "get": {
        "tags": [
          "Data Types"
        ],
        "summary": "Get dataset-specific data types.",
        "description": "This operation returns a list of data types that exist in the specified dataset using its GDEX DSID.",
        "operationId": "getDatasetDatatypes",
        "parameters": [
          {
            "$ref": "#/components/parameters/dsid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schema_defs/DatasetDatatypesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/{DSID}/filters/gridded": {
      "get": {
        "tags": [
          "Filters"
        ],
        "summary": "Get dataset-specific filters for the \"gridded\" data type.",
        "description": "This operation returns the filters that are available for the \"gridded\" data files in the specified dataset using its GDEX DSID.",
        "operationId": "getDatasetFiltersGridded",
        "parameters": [
          {
            "$ref": "#/components/parameters/dsid"
          },
          {
            "$ref": "#/components/parameters/valid_datetime_min"
          },
          {
            "$ref": "#/components/parameters/valid_datetime_max"
          },
          {
            "name": "parameters",
            "in": "query",
            "description": "Restrict to specified parameter code(s)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "default": ""
              }
            },
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/components/parameters/products"
          },
          {
            "$ref": "#/components/parameters/grids"
          },
          {
            "$ref": "#/components/parameters/levels"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schema_defs/DatasetFiltersGriddedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/{DSID}/files/gridded": {
      "get": {
        "tags": [
          "Data Files"
        ],
        "summary": "Get a list of data files containing data type \"gridded\" data.",
        "description": "This operation returns a list of \"gridded\" data files for the specified dataset, optionally restricted by user-specified filters.",
        "operationId": "getDatasetFiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/dsid"
          },
          {
            "name": "parameters",
            "in": "query",
            "description": "Restrict to specified parameter code(s)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "default": ""
              }
            },
            "collectionFormat": "multi",
            "required": true
          },
          {
            "$ref": "#/components/parameters/valid_datetime_min"
          },
          {
            "$ref": "#/components/parameters/valid_datetime_max"
          },
          {
            "$ref": "#/components/parameters/products"
          },
          {
            "$ref": "#/components/parameters/grids"
          },
          {
            "$ref": "#/components/parameters/levels"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schema_defs/DatasetFilesGriddedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "dsid": {
        "name": "DSID",
        "in": "path",
        "description": "Retrieve response for dataset identified by DSID",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "valid_datetime_min": {
        "name": "valid_datetime_min",
        "in": "query",
        "description": "Restrict to data valid on or after date/time specified as \"YYYY-MM-DD HH:MM\"",
        "type": "string",
        "required": false
      },
      "valid_datetime_max": {
        "name": "valid_datetime_max",
        "in": "query",
        "description": "Restrict to data valid on or prior to date/time specified as \"YYYY-MM-DD HH:MM\"",
        "type": "string",
        "required": false
      },
      "products": {
        "name": "products",
        "in": "query",
        "description": "Restrict to specified product code(s)",
        "schema": {
          "type": "array",
          "items": {
            "type": "string",
            "default": ""
          }
        },
        "collectionFormat": "multi",
        "required": false
      },
      "grids": {
        "name": "grids",
        "in": "query",
        "description": "Restrict to specified grid code(s)",
        "schema": {
          "type": "array",
          "items": {
            "type": "string",
            "default": ""
          }
        },
        "collectionFormat": "multi",
        "required": false
      },
      "levels": {
        "name": "levels",
        "in": "query",
        "description": "Restrict to specified vertical level code(s)",
        "schema": {
          "type": "array",
          "items": {
            "type": "string",
            "default": ""
          }
        },
        "collectionFormat": "multi",
        "required": false
      }
    },
    "schema_defs": {
      "DatasetDatatypesResponse": {
        "type": "object",
        "properties": {
          "DSID": {
            "type": "string"
          },
          "datatypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "DatasetFiltersGriddedResponse": {
        "type": "object",
        "properties": {
          "DSID": {
            "type": "string"
          },
          "datatype": {
            "type": "string",
            "const": "gridded"
          },
          "restrictions": {
            "type": "object",
            "description": "List of user-specified restrictions for limiting available filters",
            "properties": {
              "parameters": {
                "type": "array",
                "description": "List of parameters to which filters should be limited",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "filters": {
            "type": "object",
            "description": "List of data file filters available for this dataset",
            "properties": {
              "valid_datetime_min": {
                "type": "string",
                "description": "Earliest valid date/time as YYYY-MM-DD HH:MM"
              },
              "valid_datetime_max": {
                "type": "string",
                "description": "Latest valid date/time as YYYY-MM-DD HH:MM"
              },
              "parameters": {
                "type": "array",
                "description": "Parameter names and filter codes",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                }
              },
              "products": {
                "type": "array",
                "description": "Product names and filter codes",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                }
              },
              "grids": {
                "type": "array",
                "description": "Grid names and filter codes",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                }
              },
              "levels": {
                "type": "array",
                "description": "Vertical level names and filter codes",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "DatasetFilesGriddedResponse": {
        "type": "object",
        "properties": {
          "DSID": {
            "type": "string"
          },
          "datatype": {
            "type": "string",
            "const": "gridded"
          },
          "restrictions": {
            "type": "object",
            "description": "List of user-specified restrictions for limiting available filters",
            "properties": {
              "parameters": {
                "type": "array",
                "description": "List of parameters to which filters should be limited",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "files": {
            "type": "object",
            "description": "Data file information",
            "properties": {
              "https_base": {
                "type": "string"
              },
              "ncar_hpc_base": {
                "type": "string"
              },
              "paths": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "pagination": {
            "type": "object",
            "description": "Metadata for result pagination",
            "properties": {
              "total_count": {
                "type": "integer"
              },
              "num_pages": {
                "type": "integer"
              },
              "num_per_page": {
                "type": "integer"
              },
              "current_page": {
                "type": "integer"
              },
              "next_page": {
                "type": ["integer", "null"]
              },
              "result_ID" : {
                "type": ["string", "null"]
              }
            }
          }
        }
      },
      "BadRequest": {
        "type": "object",
        "properties": {
          "error_message": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "400": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schema_defs/BadRequest"
            }
          }
        }
      }
    }
  }
}
