{% extends "base.html" %}

{% block title %}Something went wrong{% endblock %}

{% block body_class %}template-500{% endblock %}

{% block content %}
    <h1>Something went wrong</h1>

    <h2>Sorry, an unexpected error occurred while processing your request. Please try again in a few moments.</h2>

    <p>If the problem persists, please contact the <a href="mailto:datahelp@ucar.edu">NSF NCAR Research Data Help desk</a> at <a href="mailto:datahelp@ucar.edu">datahelp@ucar.edu</a> for assistance.</p>
{% endblock %}
