<script>
document.cookie = 'duser=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
document.cookie = 'ruser=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
document.cookie = 'dpass=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
document.cookie = 'duser=; Path=/; domain=.rda.ucar.edu; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
document.cookie = 'ruser=; Path=/; domain=.rda.ucar.edu; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
document.cookie = 'dpass=; Path=/; domain=.rda.ucar.edu; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
window.location.replace("/");
</script>
